# git ls-files --others --exclude-from=.gitignore
# Lines that start with '#' are comments.

~*
CMakeConfig.h
makefile
*.vcxproj.user
*.opensdf
*.sdf
*.suo
log.txt
build/Screenshot*
vs.*/spacepunk/x64/Debug/*
vs.*/spacepunk/x64/Release/*
vs.*/spacepunk/x64/Hybrid/*
vs.*/spacepunk/Debug/*
vs.*/spacepunk/Release/*
vs.*/spacepunk/Hybrid/*
vs.*/spacepunk/spacepunk.VC.VC.opendb
vs.*/spacepunk/.vs/*
vs.*/spacepunk/No
spacepunk.VC.db
build/base/default.cfg
build/*.iobj
build/*.ipdb
build/*.pdb
build/*.ilk
build/*.Build.CppClean.log
build/base/maps/.playtest.wlb
build/base/maps/autosave*
build/*.bat
build/spacepunk/*
build/barony/*
build*.zip
gmon.out
*.vspx
*.psess
*.etl
CMakeFiles/*
CMakeCache.txt
Makefile
*.x86_64
*.bin
cmake_install.cmake
src/CMakeFiles/*
